.dropdown {
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  border-radius: 2em;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn,
.dropbtn:focus {
  background-color: #c4c4c4;
}

.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 1.5em;
  background-color: black;
  min-width: 95px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.8);
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #c4c4c4;
  position: relative;
}

.show {
  display: block;
  position: fixed;
  color: white;
  z-index: 1;
}
